@using PFEF.ViewModels
@model MuestraViewModel
@{
    foreach (PFEF.Models.Contenidos item in Model.ListaAMostrar)
    {
        <div>
            <span class="sep col-sm-1 col-md-1"></span>
            <div class="cont col-sm-3 col-md-3 row objeto">
                <div>
                    <h5 class="Tit">@item.Nombre</h5>
                    <h6><small>Subido el @item.FechaSubida por @item.Usuarios.Nombre</small></h6>
                    <div class="Desc">
                        <p class="DescT">@item.Descripcion</p>
                    </div>
                    <p class="divider"></p>
                    <div class="tags">
                        <span class="mitag tag label label-info">@item.Materias.Nombre</span>,
                        <span class="mitag tag label label-info">@item.Escuelas.Nombre</span>,
                        <span class="mitag tag label label-info">@item.NivelesEducativos.Nombre</span>,
                        <span class="mitag tag label label-info">@item.Profesor</span>,
                        <span class="mitag tag label label-info">@item.TiposContenidos.Nombre</span>
                    </div>
                    <a href="@Url.Action("VerMas", "Contenidos",new { cont=item.Id }) " class="btn btn-block btn-lg btn-primary" style="margin-bottom:10px;">Ver mas</a>
                </div>
            </div>
        </div>
        

    }
}




