@using ProyectoFinal.Models
@{
    foreach (Contenido item in ViewBag.ListaArticulos)
    {
        <div class="col-sm-6 col-md-4" style="margin-bottom:15px;">
            <div class="thumbnail">
                <div class="caption">
                    
                    <h4>@item.Nombre</h4>
                    <p>@item.Descripcion</p>
                    Escuela: <h6>@item.IdEscuelas</h6>
                    Materia: 
                    <h6>@item.IdMateria</h6>
                    Profesor: 
                    <h6>@item.Profesor</h6>
                    Tipo de contenido:
                    <h6>@item.IdTipodeCont</h6>
                    Nivel educativo: 
                    <h6>@item.IdNivelEdu</h6>
                    <p><a href=@item.Ruta class="btn btn-primary" data-toggle="collapse" data-target="#Datos" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

    }
}


