@using ProyectoFinal.Models
@model Contenido
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/UI-Flat/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UI-Flat/css/flat-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" onclick="location.href='@Url.Action("Index", "Home")'">Teko</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        @using (Html.BeginForm("Buscar", "Contenido", FormMethod.Get, new { @class = "navbar-form navbar-left", role = "search" }))
        {
            @Html.TextBoxFor(x => x.KeyWords, new { type = "text", @class = "form-control", @placeholder = "Buscar" })
            <button class="btn" type="submit">Search</button>
        }   
        </div><!-- /.navbar-collapse -->
    </nav>
    
    
    <div class="container body-content">
        @RenderBody()
    </div>
        <hr />
        <footer>
        </footer>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/UI-Flat/js/flat-ui.js"></script>
    <script src="~/scripts/"></script>
</body>
</html>