@using ProyectoFinal.Models

@{Usuario usuario = ViewBag.Usuario; }

@if (Usuario.UsuarioConectado != null)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
           
                <li>
                   <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">@Usuario.UsuarioConectado.Nombre  <span class="caret"></span></button>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Mis subidas", "AbrirSubidas", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
                            <li><a href="#">Mi Perfil</a></li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Log Off", "LogOff", "Home", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
                        </ul>
                    </div>
            </li>
            <li>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AbrirSubir", "Contenido")'">Subir</button>
            </li>
    }
}
else
{
        <li>@Html.ActionLink("Registrarse", "AbrirRegistracion", "Home", routeValues: null, htmlAttributes: new {  @class = "btn-logpart btn btn-xs" })</li>
        <li>@Html.ActionLink("Log in", "AbrirLogin", "Home", routeValues: null, htmlAttributes: new {  @class= "btn-logpart btn btn-xs" })</li>
}
