@using ProyectoFinal.Models
@model Contenido
@{
    ViewBag.Title = "Home de Inicio";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomedeInicio</title>
    <meta charset="utf-8" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div>
        <div>
            <h2 class="text-center">Subidos recientemente</h2>
            <a href="@Url.Action("VerTodo", "Contenido",new { Title="Mas recientes"})" type="button" class="btn btn-default center-block" id="tarj">Ver todo</a>
            @{
                ViewBag.Controles = "MasRec";
            }
            <div class="row" style="margin:1%;">
                @Html.Partial("_Carrousel")
            </div>
        </div>
        <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
        <div>
            <h2 class="text-center">Mas populares</h2>
            <a href="@Url.Action("VerTodo", "Contenido",new { Title="Mas populares"})" type="button" class="btn btn-default center-block" id="tarj">Ver todo</a>
            @{
                ViewBag.ListaArticulos = ViewBag.ListaArticulosPop;
                ViewBag.Controles = "MasPop";
            }
            <div class="row" style="margin:1%;">
                @Html.Partial("_Carrousel")
            </div>
        </div>
        <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
        <div>
            <h2 class="text-center">Mas descargados</h2>
            <a href="@Url.Action("VerTodo", "Contenido",new { Title="Mas descargados"})" type="button" class="btn btn-default center-block" id="tarj">Ver todo</a>
            @{
                ViewBag.ListaArticulos = ViewBag.ListaArticulosDes;
                ViewBag.Controles = "MasDes";
            }
            <div class="row" style="margin:1%;">
                @Html.Partial("_Carrousel")
            </div>
        </div>
    </div>

</body>
</html>
