@using ProyectoFinal.Models
@model ProyectoFinal.Models.Contenido
@{
    ViewBag.Title = "Subir";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubirContenido</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/signin.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <div class="container">

        @using (Html.BeginForm("Subir", "Home", FormMethod.Post, new { @class = "form-signin", role = "form", enctype = "multipart/form-data" }))
        {
            <h2 class="form-signin-heading">Subir archivo</h2>
            @Html.ValidationMessageFor(x => x.Nombre)<br />
            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Nombre" })

            @Html.ValidationMessageFor(x => x.Ruta)<br />
            @Html.TextBox("file", "", new { type = "file", @class = "form-control" })

            @Html.ValidationMessageFor(x => x.Descripcion)<br />
            @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", placeholder = "Descripcion" })

            <div class="dropdown">
                @Html.ValidationMessageFor(x => x.IdEscuelas)<br />
                @Html.DropDownListFor(x => x.IdEscuelas, new SelectList(ViewBag.Escuelas, "ID", "Nombre"))
            </div>


            <div class="dropdown">
                @Html.ValidationMessageFor(x => x.IdMateria)<br />
                @Html.DropDownListFor(x => x.IdMateria, new SelectList(ViewBag.Materia, "ID", "Nombre"))
            </div>

             @Html.ValidationMessageFor(x => x.Profesor)<br />
             @Html.TextBoxFor(x => x.Profesor, new { @class = "form-control", placeholder = "Profesor" })

                <button class="btn btn-lg btn-primary btn-block" type="submit">Subir</button>
                }

            </div> <!-- /container -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
